:root {
    --hintergrund-orange: #f39c12;
    --header-red: #ff0000; 
    --text-black: #000000; 
}

html {
    font-size: 20px;
}

@media (min-width: 768px) {
    html {
        font-size: 19px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--hintergrund-orange);
    color: var(--text-black);
    margin-bottom: 60px;
    font-size: 1rem;
}

@media (max-width: 575.98px) {
    .table td,
    .table th {
        display: block;
        width: 100%;
    }
    
}


@media (min-width: 576px) {
    .table td,
    .table th {
        display: table-cell;
    }
    
}


@media (max-width: 767.98px) {
    .table tbody tr {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .table tbody tr {
        display: table-row;
    }
}
.product-info {
    display: flex;
    flex-direction: column;
    font-size: 0.81rem;
    font-weight: 645;
}

@media (max-width: 575.98px) {
    .product-info {
        font-size: 0.79rem;
    }
}

@media (min-width: 740px) {
    .product-info {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {
    .product-info {
        font-size: 1rem;
    }
}




.position {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}

    
    .position span {
        margin-right: 50px; 
    }

        
        .position span:last-child {
            margin-right: 0;
        }

.table {
    
    border-bottom:2px solid var(--header-red);
    
}

    .table tbody {
        
        border-bottom: 2px solid var(--header-red);
    }

.table-responsive {
    
    margin-bottom: 40px;
}
@media (max-width: 575.98px) {
    .table th, .table td {
        border: none;
    }

    .table .actions-cell {
        border-bottom: 2px solid var(--text-black);
        border-bottom-color: var(--header-red);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-red);
}

.navbar {
    background-color: var(--hintergrund-orange);
    color: var(--text-black);
}

.navbar-brand {
    color: var(--header-red);
}

.navbar-nav .nav-link {
    color: var(--text-black);
}

.navbar-toggler {
    background-color: var(--hintergrund-orange); 
    border-color: var(--hintergrund-orange); 
    color: var(--header-red); 
}


.navbar-toggler-icon {
    display: block; 
    background-color: var(--header-red);
    border: none;
    width: 2em;
    height: 2px;    
    margin-bottom: 6px;
}

.link {
    color: var(--text-black);
}
.fuss {
    font-size: 0.65rem;
}
.alert {
    font-size: larger;
    font-weight: bolder;
    color: var(--hintergrund-orange);
    background-color: var(--text-black);
}
.text-danger {
    font-size: larger;
    font-weight: bolder;
    color: var(--header-red);    
}