@model DigitalisierungBestellungJosera.Models.Produkt

@{
    ViewData["Title"] = "Edit";
}

<h1>Produkt bearbeiten</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ChargeNr" class="control-label"></label>
                <input asp-for="ChargeNr" class="form-control" />
                <span asp-validation-for="ChargeNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preis_in_EURO" class="control-label"></label>
                <input asp-for="Preis_in_EURO" class="form-control" />
                <span asp-validation-for="Preis_in_EURO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gewicht_in_KG" class="control-label"></label>
                <input asp-for="Gewicht_in_KG" class="form-control" />
                <span asp-validation-for="Gewicht_in_KG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link" asp-action="Index">Zurück</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
